services:
  app:
    image: symfony-frankenphp-hello:latest
    build: .
    environment:
      APP_ENV: prod
      APP_SECRET: "dev-secret-change-me"
      DATABASE_URL: "pgsql://symfony:symfony@db:5432/symfony?charset=utf8"
    ports:
      - "8080:80"
      - "1443:443"
    depends_on:
      - db

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: symfony
      POSTGRES_USER: symfony
      POSTGRES_PASSWORD: symfony
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
